.card__item {
  max-width: 45%;
  margin: auto;
  margin-bottom: 2%;
  .card__media {
    height: 250px;
  }
  .card__desc {
    height: 160px;
    overflow: hidden;
  }
}

@media screen and (max-width: 1400px) {
  .card__item {
    max-width: 40%;
    .card__media {
      height: 24vh;
    }
  }
}
@media screen and (max-width: 1150px) {
  .card__item {
    max-width: 70%;
  }
}
@media screen and (max-width: 1000px) {
  .card__item {
    max-width: 80%;
  }
}
