.autolist {
  margin-top: 2%;
  .filter__mobile {
    visibility: hidden;
  }
  .filter {
    margin-left: 2%;
  }
  .cars {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
  }
  .pagination {
    margin: auto;
    width: max-content;
  }
}

@media screen and (max-width: 1000px) {
  .autolist {
    .filter__full {
      visibility: hidden;
    }
    .filter__mobile {
      visibility: visible;
    }
    .cars {
      width: 100%;
    }
    .filter {
      z-index: 1;
      background-color: white;
    }
  }
}

