.cabinet {
  margin: auto;
  margin-top: 2rem;
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  .cabinet__media {
    .image {
      width: 15vw;
      height: 30vh;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      overflow: hidden;
    }
    .loader {
      width: 60%;
      margin: 1rem 0;
    }
  }
  .cabinet__text {
    display: flex;
    width: 40%;
    flex-direction: column;
    .button__container {
      // display: none; // ToDo
      // .button__change {
      // }
      .button__submit {
        .button__save {
          margin-right: 1rem;
        }
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .cabinet {
    width: 80%;
    margin: 1rem auto;
    flex-direction: column;
    .cabinet__media {
      .image {
        width: 90%;
      }
      .loader {
        width: 60%;
      }
    }
    .cabinet__text {
      width: 80%;
    }
  }
}
