.cabinet {
  margin: auto;
  margin-top: 2rem;
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  .media {
    .image {
      width: 15vw;
      height: 30vh;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      overflow: hidden;
    }
    .loader {
      width: 60%;
      margin: 1rem 0;
    }
  }
  .text {
    display: flex;
    width: 40%;
    flex-direction: column;
    .buttons {
      .button__submit {
        .button__save {
          margin-right: 1rem;
        }
      }
    }
  }
  .favorite {
    margin: 1rem 0;
    // cursor: pointer;
  }
}

@media screen and (max-width: 1000px) {
  .cabinet {
    width: 80%;
    margin: 1rem auto;
    flex-direction: column;
    .media {
      .image {
        width: 90%;
      }
      .loader {
        width: 60%;
      }
    }
    .text {
      width: 80%;
      .buttons {
        .button__submit {
          .button__save {
            margin-bottom: 1rem;
            min-width: 8rem;
          }
          .button__cancel {
            margin-bottom: 1rem;
            min-width: 8rem;
          }
        }
      }
    }
  }
}
