.detail {
  margin: 0.25rem;
  width: 100px;
  height: 250px;
  min-height: 200px;
  border-radius: 1rem;
  text-align: center;
  &:hover {
    transform: scale(1.05);
  }
  .detail__date {
    color: white;
  }
  .detail__day-icon {
    width: 90px;
    height: 50px;
    min-height: 50px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
  .detail__day-temp {
    color: lightgray;
  }
  .detail__day-value {
    color: white;
    font-size: 1.5rem;
    font-weight: 400;
  }
  .detail__night-icon {
    width: 90px;
    height: 50px;
    min-height: 50px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
  .detail__night-temp {
    color: lightgray;
  }
  .detail__night-value {
    color: white;
    font-size: 1.25rem;
    font-weight: 400;
  }
  .detail__text {
    font-size: 0.7rem;
    word-break: normal;
    color: lightgray;
    white-space: normal;
  }
}
@media screen and (max-width: 800px) {
  .detail {
    width: 90px;
    margin: 1px;
    // width: 16vw;
    .detail__day-icon {
      width: 15vw;
    }
    .detail__day-value {
      font-size: 1rem;
    }
    .detail__night-icon {
      width: 15vw;
      display: none;
    }
    .detail__night-value {
      font-size: 1rem;
    }
    .detail__text {
      word-break: break-word;
    }
  }
}
