.detail {
  margin: 0.25rem;
  // width: 100px;
  // height: 250px;
  // min-height: 200px;
  flex: 1;
  border-radius: 1rem;
  text-align: center;
  &:hover {
    transform: scale(1.05);
  }
  .date {
    color: white;
  }
  .week {
    color: white;
    font-size: 0.75em;
  }
  .day-icon {
    width: 90px;
    height: 50px;
    min-height: 50px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
  .day-temp {
    color: lightgray;
  }
  .day-value {
    color: white;
    font-size: 1.5rem;
    font-weight: 400;
  }
  .night-icon {
    width: 90px;
    height: 50px;
    min-height: 50px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
  .night-temp {
    color: lightgray;
  }
  .night-value {
    color: white;
    font-size: 1.25rem;
    font-weight: 400;
  }
  .text {
    font-size: 0.7rem;
    word-break: normal;
    color: lightgray;
    white-space: normal;
  }
}
@media screen and (max-width: 800px) {
  .detail {
    width: 90px;
    margin: 1px;
    .date {
      font-size: 0.75rem;
    }
    .day-icon {
      width: 15vw;
    }
    .day-value {
      font-size: 1rem;
    }
    .night-icon {
      width: 15vw;
      display: none;
    }
    .night-value {
      font-size: 1rem;
    }
    .text {
      word-break: break-word;
    }
  }
}
