.form {
  .from {
    width: 25%;
  }
  .input__container {
    width: 30%;
    display: flex;
    flex-direction: column;
    .value-input {
      display: flex;
    }
    .price-input {
      font-weight: bold;
      display: flex;
    }
    .unit-input {
      display: flex;
    }
    .button-exchange {
      margin: auto;
      margin-top: 1rem;
      width: 30%;
    }
  }
}

@media screen and (max-width: 800px) {
  .form {
    .from {
      width: 85%;
    }
    .input__container {
      width: 95%;
      .button-exchange {
        width: 60%;
      }
    }
  }
}
