.card__container {
  .card {
    width: 500px;
    margin: auto;
    height: 200px;
    padding: 1.25rem;
    margin-top: 1%;
    margin-bottom: 1rem;
    border-radius: 1em;
    text-align: center;
    position: relative;
    .title {
      color: white;
      font-size: 1.1rem;
      font-weight: 400;
      text-align: center;
      .title-time {
        color: wheat;
        font-size: 0.9rem;
        font-weight: 200;
      }
    }
    .center {
      display: flex;
      flex-direction: row;
      .center-text {
        flex: 1;
        line-height: 1.5;
        color: lightgray;
        .center-temp {
          font-size: 2rem;
          font-weight: 400;
          line-height: 1.75rem;
          color: whitesmoke;
          margin-bottom: 10%;
        }
      }
      .center-real {
        color: lightgray;
        .center-val {
          color: white;
          font-size: 1.25rem;
          font-weight: 400;
          line-height: 1.5rem;
        }
      }
      .center-icon {
        width: 190px;
        height: 135px;
        background-size: cover;
        background-position: top;
        background-repeat: no-repeat;
      }
      .center-wind {
        flex: 1;
        line-height: 1.5;
        color: lightgray;
        .center-speed,
        .center-direct {
          color: white;
        }
      }
      .center-pressure {
        color: lightgray;
      }
    }
    .footer {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      color: lightgray;
      button {
        border: none;
        min-width: 95px;
        font-size: 16px;
        cursor: pointer;
        color: burlywood;
        text-decoration: underline;
        background-color: transparent;
      }
      .footer-text {
        text-align: center;
        align-items: flex-end;
      }
    }
  }
  .datails {
    position: relative;
    width: 500px;
    margin: auto;
    display: flex;
    padding: 20px;
    margin-bottom: 1vh;
    border-radius: 1em;
    flex-direction: row;
    background-color: lightgray;
  }
}
@media screen and (max-width: 800px) {
  .card__container {
    width: 94%;
    margin: auto;
    .card {
      width: 90%;
      height: 40%;
      padding: 1rem;
      .center {
        font-size: 0.75rem;
        .center-text {
          .center-temp {
            font-size: 1.5rem;
          }
        }
      }
      .footer {
        display: flex;
        align-items: center;
        justify-content: space-around;
        button {
          border: none;
          font-size: 0.9rem;
        }
        .footer-text {
          font-size: 0.75rem;
          text-align: center;
        }
      }
    }
    .datails {
      width: 90%;
      margin: auto;
      padding: 15px;
    }
  }
}
